
.banner__figure{
    display: flex;
    align-items: flex-end;
    background-image: url(/img/banner.png); 
    background-repeat: no-repeat;
    background-size: auto;
    height: 352px;
    margin: 0%;
}

.banner__conteiner{display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 5%;
}

.banner__conteiner h2{
    color: aliceblue;
    font-size: 52px;
    margin: 20px 0px;
}

.banner__conteiner span{
    color: aliceblue;
    font-size: 22px;
}

.banner__conteiner a {
    background-color: #2A7AE4;
    height: 30px;
    color: aliceblue;
    width: 97px;
    text-decoration: none;
    padding: 10px;
    margin: 20px 0px;
}