li{
    list-style: none;
}

.galery__title{
    display: flex;
    margin: 0px 50px 0px 40px;
    justify-content: space-between;
}

.galery__container{
}

.galery__ul{
    display: flex;
}

.galery__ul img{
    width: 70%;
}

section{
    margin: 40px 0px 40px 0px;
}